/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #e5e5e5;
  --black: #000;
  --red: #db0000;
  --yellow: #dcc426;
  --white: #fff;
}

body {
  font-family: "Poppins", sans-serif !important;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
button,
button:focus {
  outline: none !important;
  cursor: pointer;
}
input:focus,
input:focus-visible,
input:focus-within {
  outline: none;
}

.btn-primary {
  background: var(--black);
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 30px;
  border-color: var(--black);
  box-shadow: none !important;
  transition: all ease-in-out 0.3s;
}
.btn-secondary {
  background: var(--white);
  font-weight: 600;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 30px;
  color: var(--black);
  border-color: var(--white);
  outline: none;
  box-shadow: none;
  transition: all ease-in-out 0.3s;
}
.btn-primary:active,
.btn-primary:hover,
.btn-secondary:hover {
  background: var(--black) !important;
  border-color: var(--black) !important;
}
.btn.big {
  font-size: 22px;
  font-weight: 500;
}
.heading {
  margin-bottom: 20px;
}
.sec_heading {
  font-size: 42px;
  text-align: center;
}
.rounded-3 {
  border-radius: 40px !important;
}
.bg-none {
  background-image: none !important;
}
/* Header */

.nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}
.box-right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
  justify-content: flex-end;
  position: relative;
}
.log_in,
.sign_up {
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid;
  padding: 10px 20px;
  min-width: 105px;
}
.box-right .property_btn {
  border-radius: 8px;
  margin-left: 5%;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.user img {
  background: var(--black);
  padding: 7px;
  border-radius: 50%;
}
.menu {
  position: relative;
  padding: 5px;
  cursor: pointer;
}
.menu_dropdown {
  padding: 10px 12px;
  background: var(--white);
  border-radius: 5px;
  position: absolute;
  top: 100%;
  right: 0px;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  /* display: none; */
}
.menu_dropdown ul {
  list-style: none;
  margin-left: -1.5rem;
}
.menu_dropdown ul li .link-menu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

/* ============= Breadcrumb =============== */

.breadcrumb {
  background: url(./images/breadcrumb.jpg);
  background-size: cover;
  padding: 60px 0 !important;
}

/* banner */

.banner {
  background-size: cover !important;
  background-position: center !important;
  padding: 120px 0 0;
  margin-bottom: 40px;
}
.banner h1 {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  padding-left: 7%;
}
#pills-tab {
  background: rgba(255, 255, 255, 0.25);
  padding: 25px 22px;
  border-radius: 10px;
  flex-wrap: nowrap;
  gap: 15px;
}
.nav-pills .nav-link {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.34);
  color: var(--white);
  border: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  text-align: left;
  min-height: 85px;
  outline: none !important;
  cursor: pointer;
  font-size: 14px;
  position: relative;
}
.nav-pills .nav-link::after {
  content: "\f078";
  position: absolute;
  font-size: 14px;
  font-family: "FontAwesome";
  left: 50%;
  bottom: 02px;
  transform: translate(-50%, 1%);
}
.nav-link.active::after {
  content: "\f078";
  position: absolute;
  font-size: 14px;
  font-family: "FontAwesome";
  left: 50%;
  bottom: 02px;
  transform: translate(-50%, 1%) rotate(180deg);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.tab-content > .tab-pane {
  background: #fff;
  padding: 12px 18px;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0 0 0/ 25%);
  position: absolute;
  width: 100%;
  z-index: 2;
}
.links_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.links_wrap a {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 112px;
  min-width: 80px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
}
.links_wrap a.active,
.links_wrap a:hover {
  background-color: #d9d9d9;
}
.links_wrap a img {
  max-width: 50px;
  height: 40px;
  object-fit: contain;
}
.links_wrap a p {
  font-size: 13px;
  margin-bottom: 0;
}
.searchbar {
  transform: translateY(30px);
}
.search_box {
  background-color: var(--black);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.search_box a {
  white-space: nowrap;
}

.searchbar form {
  position: relative;
  flex: 1 1 100%;
}
.search_box input {
  width: 100%;
  padding: 12px 30px 12px 40px;
  border: none;
  border-radius: 5px;
  line-height: 1.2;
  font-size: 16px;
  height: 50px;
  background-image: url(./images/location-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
}
.search_btn {
  position: absolute;
  background: none;
  border: none;
  width: 50px;
  height: 100%;
  right: 0;
  font-size: 20px;
}
.search_box .btn {
  border-radius: 5px;
}

/* property */
.properties {
  padding: 60px 0;
}
.property {
  margin-bottom: 60px;
  position: relative;
}
.watched {
  background: var(--white);
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 6px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
}
.comment_div {
  background: var(--white);
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
}
.booked_div {
  background: var(--black);
  color: var(--white);
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 6px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  border: none;
  outline: none;
}

.add_to_wishlist {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white);
  background: none;
  border: none;
  padding: 10px;
}
.add_to_wishlist.added {
  color: var(--red);
}
.gallery {
  margin-bottom: 10px;
}
.gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}
.profile {
  position: absolute;
  top: 57%;
  left: 15px;
}
.gallery_content {
  display: flex;
  justify-content: space-between;
}
.gallery_content .content {
  flex: 1 1 100%;
}
.gallery_content h4 {
  font-size: 19px;
  margin: 0;
  font-weight: 500;
}
.gallery_content .content span {
  font-size: 14px;
  display: block;
  line-height: 1.6;
}
.gallery_content .content .guests {
  font-size: 12px;
}
.links {
  text-align: right;
}
.stars {
  list-style: none;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.stars i {
  color: var(--yellow);
}
.gallery_content .btn {
  padding: 7px 10px;
  font-size: 13px;
  min-width: auto;
  font-weight: 600;
}

/* Why Choose */

.box {
  background: #252525;
  display: flex;
  align-items: center;
  gap: 10%;
  color: var(--white);
  padding: 15px;
  border-radius: 4px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
}
.box h5 {
  font-size: 16px;
}
.box + p {
  font-size: 14px;
  text-align: center;
}
.kids_outdoor {
  background-size: cover !important;
  background-position: center center !important;
  padding: 60px 0;
}
/* team */
.team {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.team_single {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team_single.active img {
  max-width: 400px;
}
.team_single.active h2 {
  display: inline-block;
}
.team_single img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 30px;
}
.team_single h2 {
  font-size: 40px;
  text-align: center;
  position: relative;
  display: none;
}
.team_single h2::before,
.team_single h2::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 120px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  bottom: 10px;
}
.team_single h2::before {
  background: url(./images/arrow-left.svg);
  left: -32%;
}
.team_single h2::after {
  background: url(./images/arrow-right.svg);
  right: -32%;
}

/* footer css */

.footer {
  background: var(--grey) !important;
}

.footer_widget {
  display: inline-block;
}
.footer_link {
  list-style: none;
}
.footer_link li {
  margin-bottom: 15px;
}
.footer_link li a {
  color: var(--black);
  text-decoration: none;
}
.icon-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0 0;
}
.social_links ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.social_links ul li a {
  color: var(--black);
  font-size: 24px;
}
.copyright {
  font-size: 12px;
}

/*==========  Blog Page Css =============*/

.blog_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog {
  box-shadow: 0 4px 15px rgba(0 0 0 / 25%);
  border-radius: 15px;
  overflow: hidden;
}
.blog img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.blog_content {
  background: var(--white);
  padding: 15px;
}
.blog_footer {
  border-top: 1px solid #828282;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.blog_footer a {
  font-size: 14px;
  color: rgba(0 0 0 /86%);
}
.blog_footer span {
  color: #6e6b7b;
  font-size: 12px;
}

/*==========  Signup Page Css =============*/

.signup {
  background: url(./images/signup-bg.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 30px 50px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  color: var(--white);
  max-width: 1000px;
  margin: 0 auto;
}
.signup:before {
  content: "";
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.logo_white {
  margin-left: 15px;
  max-width: 220px;
}
.signup * {
  position: relative;
}
.signup form {
  margin-top: 40px;
}
.signup .form-control {
  margin-bottom: 20px;
  padding: 13px 15px;
  border-radius: 8px;
  border: 1px solid var(--black);
}
.signup input[type="radio"] {
  margin-bottom: 15px;
}
.signup .submit_btn {
  background: var(--white);
  color: var(--black);
  padding: 12px 25px;
  font-weight: 500;
  width: 100%;
  max-width: 400px;
  border-radius: 40px;
  border: none;
  margin: 40px 0 15px;
}

/* verification page css */

.verfication {
  background: url(./images/verification.jpg);
  background-size: cover;
  background-position: center center;
  padding: 30px 50px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
}
.verfication:before {
  content: "";
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.verfication form {
  max-width: 500px;
  background: var(--white) !important;
  position: relative;
  padding: 30px 50px;
  border-radius: 30px;
  margin: 20px 0 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 380px;
  justify-content: space-between;
}
#verify {
  display: flex;
  justify-content: center;
  gap: 15px;
}
#verify input {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 10px;
  text-align: center;
}
.verfication .form-control {
  margin-bottom: 0px;
  padding: 13px 15px;
  border-radius: 8px;
  border: 1px solid var(--black);
}

.verfication .submit_btn {
  background: var(--black);
  color: var(--black);
  color: var(--white);
  padding: 12px 25px;
  font-weight: 500;
  width: 100%;
  max-width: 400px;
  border-radius: 40px;
  border: none;
  margin: 40px 0 15px;
}
.text-decoration-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.verfication a {
  font-weight: 500;
}
.field {
  position: relative;
  margin-bottom: 15px;
}
.field span {
  font-size: 12px;
}
.eye_btn {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  padding: 12px;
  z-index: 2;
  transform: translateY(-100%);
}

/*============  Search Page css ========== */

.search_form {
  border: 2px solid var(--white);
  border-radius: 50px;
  padding: 50px 30px;
  margin: 30px 0;
  position: relative;
}
.search_form input[type="search"],
.search_form input[type="date"],
.search_form select {
  padding: 12px 25px 12px 40px;
  border-radius: 8px;
  appearance: none;
  border: 1px solid var(--white);
  width: 100%;
  margin-bottom: 50px;
}
.search_form #search {
  background-image: url(./images/location-icon.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}
.search_form #guest {
  /* background-image: url(./images/guest.svg); */
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}
.range-slider {
  position: relative;
}
.range {
  background: #6e6e6e;
  height: 4px;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-top: -6px;
  position: absolute;
  pointer-events: none;
  background: transparent;
}

input[type="range"]:nth-of-type(1) {
  z-index: 1;
  pointer-events: auto;
}

input[type="range"]:nth-of-type(2) {
  z-index: 2;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}
.values {
  color: var(--white);
  margin-bottom: 5px;
}
.searchform_btn {
  background: var(--white);
  color: var(--black);
  font-weight: 600;
  padding: 5px 5px 5px 10px;
  border-radius: 40px;
  border: 1px solid var(--white);
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  z-index: 2;
  min-width: 200px;
}
button.searchform_btn i {
  background: var(--black);
  color: var(--white);
  border-radius: 50%;
  padding: 12px;
  margin-left: 5px;
}

/*================= Property Details page css ============== */

.property_header {
  display: flex;
  gap: 10px;
}
.property_header .links {
  flex-grow: 1;
}
.property_images {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}
.property_images img {
  max-width: 100%;
  height: 100%;
}
.gap-1 {
  gap: 10px;
}
.property_detail .description {
  background: var(--white);
  border-radius: 8px;
  padding: 12px 14px;
  margin: 15px 0;
  box-shadow: 0 4px 30px rgba(0 0 0 /25%);
}
.property_booking {
  background: url(./images/signup-bg.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 30px 20px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  color: var(--white);
}
.property_booking input,
.property_booking select {
  padding: 13px 15px;
  border-radius: 8px;
  height: auto !important;
}
.property_booking .compare {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}
.property_booking .divider {
  height: 65px;
  width: 1px;
  background-color: var(--white);
  margin: -10px 0;
}
.property_booking input[type="submit"] {
  background: var(--white);
  color: var(--black);
  width: 100%;
  border-radius: 40px;
  border: none;
}
.property_booking hr {
  border-top: 1px solid #fff;
  margin: 30px 0;
}
.property_booking button {
  border-radius: 6px;
  padding: 12px 15px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: 500;
  min-width: 150px;
}
.property_booking .btn-outline {
  background: transparent;
  color: #fff;
}
.property_booking .social_share {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0 0;
}
.property_booking .social_share ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  margin: 0;
}

.accordion-item {
  background: #fff;
  border: none;
  width: 100%;
  text-align: left;
  box-shadow: 0 6px 46px rgba(0 0 0 / 25%);
  padding: 15px;
  border-radius: 12px;
  margin-top: 30px;
}
.accordion-button {
  border: none;
  background: none;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
.accordion-button i {
  font-size: 13px;
  color: #fff;
  background: #000;
  padding: 10px;
  border-radius: 10px;
}

.booking_calander_wrapper {
  background: #fff;
  box-shadow: 0 4px 30px rgba(0 0 0 /25%);
  border-radius: 20px;
  padding: 20px;
}
.ui-widget-header {
  background: none !important;
  border: none !important;
  font-weight: 500 !important;
}
.ui-widget.ui-widget-content {
  font-family: "Poppins";
  border: none !important;
  width: 100% !important;
}
a.ui-state-default {
  border: none !important;
  background: none !important;
  padding: 10px !important;
  text-align: center !important;
}
a.ui-state-default.ui-state-active {
  background: #505050 !important;
  color: #fff !important;
}
.booking_calander_wrapper .label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
.past,
.today,
.booked {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.past {
  background-color: #d9d9d9;
}
.today {
  background-color: #505050;
}
.booked {
  background-color: #ff9d9d;
}

.contact_onwer {
  background: #000;
  border-radius: 18px;
  padding: 50px 40px;
  text-align: center;
}
.contact_onwer h2 {
  color: #fff;
  line-height: 1.4;
  margin: 20px 0 10px;
}
.contact_onwer p {
  color: #fff;
}
.btn-rounnd {
  background: #fff;
  border-radius: 50%;
  height: 47px;
  width: 47px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.contact_onwer .btn {
  background-color: #fff !important;
}
.btn-rounnd img {
  max-width: 100%;
}
.testimonial_slider_wrapper {
  background: #000;
  border-radius: 30px;
  box-shadow: 30px 8px 60px rgba(0 0 0 /16%);
  padding: 50px;
}
.testimonial {
  text-align: center;
  color: #fff;
}
.testimonial img {
  margin: 0 auto;
}
.testimonial .stars {
  justify-content: center;
}
.testimonial .fa-regular.fa-star {
  color: grey;
}

/*================= FAQ page css============== */

.faq-container {
  display: flex;
  flex-wrap: wrap;
}
.faq-item {
  margin-bottom: 17px;
  border-radius: 8px;
  box-shadow: 0 3px 10px 0#080F3429;
  padding: 10px 0;
}
.faq-item.active {
  border: 1px solid var(--black);
}
.faq-question {
  padding: 20px 40px 20px 25px;
  position: relative;
}
.faq-question:after {
  content: "\f054";
  font-family: "FontAwesome";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0 0 0 /15%);
  right: 10px;
  top: 23%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s all;
}
.faq-item.active .faq-question:after {
  background-color: var(--black);
  color: var(--white);
  transform: rotate(90deg);
  transition: ease-in-out 0.5s all;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  font-size: 14px;
  margin-top: 5px;
  padding: 0 25px;
  transition: max-height 0.5s ease-in-out;
}

.faq-item.active .faq-answer {
  max-height: 100%;
}

.faq-question h3 {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
}
@media (min-width: 768px) {
  .faq-column {
    width: 50%;
    padding: 0 10px;
  }
}

/* ============= Contact Us Page Css ============== */

.contact-box {
  display: flex;
  flex-wrap: wrap;
  background: var(--white);
  box-shadow: 0 4px 40px rgba(0 0 0 / 10%);
  padding: 10px;
  border-radius: 10px;
}
.contact_info {
  background: url(./images/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 40px;
  color: var(--white);
  min-height: 500px;
}
.contact_info .inner_div {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10%;
}
.contact-box .contact_form {
  padding: 30px;
  flex: 1 1 auto;
}
.contact-box .contact_form input {
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.contact-box .contact_form input[type="submit"] {
  padding: 10px 20px;
  border-radius: 8px;
  margin: 25px 0;
  border-radius: 40px;
  max-width: 350px;
  width: 100%;
  background: var(--black);
  color: var(--white);
}
.letter_icon {
  position: relative;
  right: 25%;
  margin-bottom: -40px;
  max-width: 150px;
}

/* ============ Listing page css  ============= */

.add_listing {
  border: 1px solid var(--black);
  border-radius: 25px;
  padding: 30px 50px;
  margin-top: 50px;
  display: flex;
  gap: 10%;
}
.add_listing .inner_div {
  max-width: 600px;
}
.add_listing .form-control {
  margin-bottom: 0px;
  padding: 13px 15px;
  border-radius: 8px;
  border: 1px solid var(--black);
  height: auto !important;
  margin-bottom: 15px;
}
.add_listing .submit_btn {
  background: var(--black);
  color: var(--white);
  padding: 12px 25px;
  font-weight: 500;
  width: 100%;
  max-width: 400px;
  border-radius: 40px;
  border: none;
  margin: 40px 0 15px;
}

.steps {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  position: relative;
}
.steps .line {
  width: 4px;
  height: 96%;
  position: absolute;
  left: 28px;
  top: 20px;
  background: #e5e5e5;
  z-index: -1;
}
.step {
  display: flex;
  gap: 20px;
  align-items: center;
}
.step span {
  background: #dadada;
  color: #7a7a7a;
  width: 30px;
  height: 30px;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step.active span {
  background: var(--black);
  color: var(--white);
}

/* =========== Account pages ============== */

.nav_menu {
  background: var(--black);
  border-radius: 10px;
  padding: 20px 40px;
}
.nav_menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  justify-content: space-between;
}
.nav_menu ul li a {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 10px;
}
.nav_menu ul li a.active {
  background: grey;
}
.nav_menu ul li a img {
  filter: invert(1);
}
.account_form,
.change_password_form {
  background: var(--white);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.change_password_form form {
  max-width: 900px;
  margin: 0 auto;
}
.avtar_box {
  padding: 15px;
  border-radius: 30px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}
.avtarupload {
  background: var(--white);
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
}
.account_form input,
.change_password_form input {
  padding: 12px;
  border: 1px solid var(--black);
  border-radius: 8px;
}
.account_form input[type="submit"],
.change_password_form input[type="submit"] {
  padding: 10px 20px;
  border-radius: 8px;
  margin: 25px 0;
  border-radius: 40px;
  max-width: 350px;
  width: 100%;
  background: var(--black);
  color: var(--white);
}
.content_box {
  background: var(--white);
  padding: 40px;
  box-shadow: 0 4px 35px rgba(0 0 0 / 25%);
  border-radius: 15px;
  margin: 60px 0 30px;
}
.message_box {
  background: var(--white);
  padding: 20px 25px;
  box-shadow: 0 4px 30px rgba(0 0 0 / 25%);
  border-radius: 15px;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.content_box .prev,
.content_box .next {
  background: #b5b5b5db;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: none;
}
.btn-close {
  background-color: #dedede;
  color: var(--black);
  font-weight: 500;
  min-width: 150px;
}
.btn-logout {
  background-color: var(--red);
  color: var(--white);
  font-weight: 500;
  min-width: 150px;
}
.modal-content {
  border-radius: 1rem !important;
}
.modal-dialog {
  max-width: 400px !important;
}

/* slick arrows */

.slick-prev,
.slick-next {
  z-index: 2;
}
.slick-prev:before,
.slick-next:before {
  font-size: 25px !important;
}
.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
}

@media (min-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  #pills-tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .box {
    width: 100%;
  }
  .box img {
    width: 50px;
  }
  .box h5 {
    font-size: 13px;
  }
  .blog_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  .hidden-xs {
    display: none !important;
  }
  .banner {
    padding: 60px 0 0;
  }
  .banner h1 {
    font-size: 30px;
    padding-left: 0%;
  }
  .box-right {
    display: none;
  }
  .nav-pills .nav-link {
    min-height: 75px;
  }
  .nav-link img {
    max-width: 30px;
    width: 100%;
  }
  .search_box {
    max-width: 100%;
  }
  .sec_heading {
    font-size: 30px;
  }
  .team_single h2 {
    font-size: 24px;
  }
  .team_single h2::before,
  .team_single h2::after {
    width: 40px;
    height: 80px;
  }
  .footer_widget {
    width: 100%;
    margin-bottom: 20px;
  }
  .blog_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .signup,
  .verfication,
  .verfication form {
    padding: 30px;
    margin: 0;
  }
  .signup .form-control {
    margin-bottom: 15px;
  }
  .search_form input[type="search"],
  .search_form input[type="date"],
  .search_form select {
    margin-bottom: 20px;
  }
  .sidebar {
    width: 100%;
  }
  .add_listing {
    padding: 30px 20px;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .steps {
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    order: 1;
  }
  .steps .line {
    width: 90%;
    height: 4px;
    left: 0;
    top: 14px;
  }
  .step {
    font-size: 0;
    gap: 10px;
  }
  .nav_menu {
    padding: 20px;
  }
  .nav_menu ul {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 480px) {
  #pills-tab {
    display: grid;
    grid-template-columns: auto auto;
  }
}

/* -----------New added CSS------------ */
.nav-link {
  color: #fff !important;
}

.accordion-button::after {
  display: none;
}

.calendar-arrow {
  border: none;
  background-color: #fff;
  font-size: 2rem;
  color: #000;
  position: absolute;
  top: 10px;
}
.prev-arrow {
  position: absolute;
  left: 0;
}

.next-arrow {
  position: absolute;
  right: 0;
}

.listingdescription .listh1 {
  font-weight: bold;
}

.listingresponse .inner_div_resp {
  height: 600px;
  max-width: 60%;
  margin: 100px 70px 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0 20px;
  border-radius: 50px;
}

.listingresponse .inner_div_resp .bxs-check-circle {
  font-size: 12rem;
}

.listingresponse .inner_div_resp h1 {
  font-weight: bold;
}

.listingresponse .inner_div_resp p {
  width: 80%;
  text-align: center;
}

.guest-para {
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
}

.range-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-slider .values {
  margin-bottom: 1rem;
}

.range-slider .range {
  position: relative;
  width: 100%;
}

.range-slider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  background: transparent;
}

.range-slider input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: #666;
  border-radius: 5px;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  position: relative;
  top: -7px;
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.range-slider input[type="range"]::-moz-range-track {
  height: 8px;
  background: #666;
  border-radius: 5px;
}

.range-slider input[type="range"]::-ms-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.range-slider input[type="range"]::-ms-track {
  height: 8px;
  background: transparent;
}

.range-slider input[type="range"]::-ms-fill-lower {
  background: #666;
  border-radius: 5px;
}

.range-slider input[type="range"]::-ms-fill-upper {
  background: #666;
  border-radius: 5px;
}

.upload-img{
  height: 400px;
  border: 1px solid silver;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8FF;
  border-style:dashed;
}

.upload-img a{
  color: #000;
  text-decoration:underline;
}

.add_listing .submit_btnImg {
  background: var(--black);
  color: var(--white);
  padding: 12px 25px;
  font-weight: 500;
  width: 600px;
  border-radius: 5px;
  border: none;
  margin: 40px 0 15px;
}

/* .bx-x{
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.upload-imge{
  border: 1px solid #E3E3E3;
  padding: 5px 10px;
  border-radius: 10px;
}

.list-location{
  border: 1px solid silver;
  border-style: dashed;
  background-color: #F8F8FF;
  border-radius: 10px;
}

.list-location .form-control{
  background-color: #F8F8FF;
}

.list-location .field:nth-of-type(7){
  width: 600px;
}